# Virtual environment
.venv/
venv/
env/

# Python bytecode
__pycache__/
*.pyc
*.pyo
*.pyd

# Editor/IDE files
.vscode/
.idea/

# Dependency management
Pipfile.lock
poetry.lock

# Log files
*.log

# Database files
*.sqlite3
*.db

# Environment variables
.env

# Generated schema (if not intended for version control)
settings.schema.yaml

# Build artifacts
dist/
build/